#=================================================
# Description: Build OpenWrt using GitHub Actions
# Lisence: MIT
# Author: eSirPlayground
# Youtube Channel: https://goo.gl/fvkdwm 
#=================================================

name: Xiaomi Redmi ax6000 passwall

on: 
  workflow_dispatch:
  schedule:
    - cron: 0 20 * * 5
  
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Free up disk space
      if: env.DELETE_USELESS_FILES == 'true' && !cancelled()
      uses: easimon/maximize-build-space@master
      with: 
        root-reserve-mb: 2048
        swap-size-mb: 1
        remove-dotnet: 'true'
        remove-android: 'true'
        remove-haskell: 'true'
        remove-codeql: 'true'
        remove-docker-images: 'true'

    - name: Checkout
      uses: actions/checkout@master

    - name: Space cleanup and Initialization environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        docker rmi `docker images -q`
        sudo -E rm -rf /usr/share/dotnet /etc/mysql /etc/php /etc/apt/sources.list.d /usr/local/lib/android
        sudo -E apt-mark hold grub-efi-amd64-signed
        sudo -E apt update
        sudo -E apt -y purge azure-cli* docker* ghc* zulu* llvm* firefox google* dotnet* powershell* openjdk* mysql* php* mongodb* dotnet* snap*
        sudo -E apt -y full-upgrade
        sudo -E apt -y install ack antlr3 aria2 asciidoc autoconf automake autopoint binutils bison build-essential bzip2 ccache cmake cpio curl device-tree-compiler fastjar flex gawk gettext gcc-multilib g++-multilib git gperf haveged help2man intltool libc6-dev-i386 libelf-dev libglib2.0-dev libgmp3-dev libltdl-dev libmpc-dev libmpfr-dev libncurses5-dev libncursesw5-dev libreadline-dev libssl-dev libtool lrzsz mkisofs msmtp nano ninja-build p7zip p7zip-full patch pkgconf python3 python3-pip libpython3-dev qemu-utils rsync scons squashfs-tools subversion swig texinfo uglifyjs upx-ucl unzip vim wget xmlto xxd zlib1g-dev
        sudo -E systemctl daemon-reload
        sudo -E apt -y autoremove --purge
        sudo -E apt clean
        sudo -E timedatectl set-timezone "Asia/Shanghai"
        
    - name: Clone source code
      env: 
        REPO_URL: https://github.com/coolsnowwolf/lede
        REPO_BRANCH: master
      run: |
        git clone --depth 1 $REPO_URL -b $REPO_BRANCH openwrt
        
    - name: Update & Install feeds
      working-directory: ./openwrt
      run: |
        ./scripts/feeds update -a
        ./scripts/feeds install -a
        ./scripts/feeds install -a   
        
    - name: Import external feeds
      working-directory: ./openwrt
      run: |       
        rm -rf feeds/packages/net/chinadns-ng
        rm -rf feeds/packages/net/dns2socks
        rm -rf feeds/packages/net/dns2tcp
        rm -rf feeds/packages/net/microsocks
        rm -rf feeds/packages/net/pdnsd-alt
        rm -rf feeds/packages/net/sing-box
        rm -rf feeds/packages/net/tcping
        rm -rf feeds/packages/net/trojan
        rm -rf feeds/packages/net/v2ray-geodata
        rm -rf feeds/packages/net/xray-core
        rm -rf feeds/luci/applications/luci-app-passwall
        rm -rf feeds/luci/applications/luci-app-passwall2
        git clone https://github.com/xiaorouji/openwrt-passwall package/passwall
        git clone https://github.com/xiaorouji/openwrt-passwall-packages package/passwall-packages
    #    git clone "your_github_link" package/"your_folder_name"              

    - name: Configuration Customization - Build_redmiax6000
      env:
        CONFIG_FILE: 'config/rmax6pw.config'
      run: |
        [ -e $CONFIG_FILE ] && mv $CONFIG_FILE openwrt/.config
        cd openwrt && make defconfig
        
    - name: Download package
      working-directory: ./openwrt
      run: |
        make download -j$(nproc)
        find dl -size -1024c -exec ls -l {} \;
        find dl -size -1024c -exec rm -f {} \;
        
    - name: Build firmware
      working-directory: ./openwrt
      run: |
        echo -e "$(nproc) thread build."
        make -j$(nproc) V=s
        
    - name: Check space usage
      if: (!cancelled())
      run: df -hT
        
    - name : Upload artifact
      uses: actions/upload-artifact@master
      with:
        name: Xiaomi Redmi ax6000 passwall
        path: openwrt/bin

    #- name: Delete workflow runs
    #  uses: Mattraks/delete-workflow-runs@main
    #  with:
    #    retain_days: 2
    #    keep_minimum_runs: 2
